@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.InputContainer {
  width: 355px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #0158a5, #fdd349);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  position: relative;
}

.input {
  width: 350px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 35px; /* extra space for icon */
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.search-icon {
  position: absolute;
  left: 12px;
  font-size: 14px;
  color: gray;
  pointer-events: none; /* allow clicks to go to input */
}
.wrapper{
  width: 100%;
  position: relative;
}
.wrapper i {
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 1.3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  gap: 10px;
  scroll-behavior: smooth;
}
.cc{
  scrollbar-width: 0;
}
.cc::-webkit-scrollbar{
  display: none;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.carousel .card{
  scroll-snap-align: start;
}
.carousel.no-transition{
  scroll-behavior: auto;
}
.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}


.burger {
  position: relative;
  width: 33px;
  height: 22px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}



@media screen and (max-width: 900px) {
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel{
    grid-auto-columns: 100%;
  }
}